main {
  padding: 40px;
}

.link-back {
  color: var(--blue);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}

.ship__arrow {
  --width: 20px;
  max-width: var(--width);
  min-width: var(--width);
  fill: rgba(41, 98, 255, 1);
  transform: scaleX(-1);
}

.link-back:hover {
  transform: scale(1.2);
}

.ship {
  margin-top: 30px;
}

.ship > * + * {
  margin-top: 30px;
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 50px;
  max-width: 500px;
}

.grid-table__cell {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  white-space: nowrap;
}

.missions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

