<div class="filter">
  <p class="filter__header">Фильтры</p>
  <form class="filter__form">

    <div class="filter__search input-group">
      <input class="input-text" type="text" placeholder="Название">
      <div class="input-text-after"></div>
    </div>

    <div class="checkbox-group">

      <div class="checbox-input">
        <mat-checkbox>Scales 2</mat-checkbox>
      </div>
      <div class="checbox-input">
        <mat-checkbox>Scales 2</mat-checkbox>
      </div>
      <div class="checbox-input">
        <mat-checkbox>Scales 2</mat-checkbox>>
      </div>

    </div>
  </form>
</div>
