<div class="filter">
  <p class="filter__header">Фильтры</p>
  <form class="filter__form" [formGroup]="formFilter">

    <div class="filter__search input-group">
      <input class="input-text" type="text" placeholder="Название" formControlName="text" (input)="onChangeText($event)">
      <div class="input-text-after"></div>
    </div>

    <div class="checkbox__container">

      <div class="checkbox-port">
        <div class="checkbox-port__subtitle">Порт</div>
        <div class="checkbox-port__text">
          <span *ngIf="activeCheckboxes !== 0; else noCheckboxes">
            Выбраны {{ activeCheckboxes }}
          </span>
          <ng-template #noCheckboxes>
            <span>Ничего не выбрано</span>
          </ng-template>
        </div>
      </div>

      <div class="checkbox-group" formGroupName="checkboxGroup">

        <div class="checkbox-group__line" [ngClass]='{
          active: activeCheckboxes !== 0
        }'></div>

        <div class="checkbox-input" *ngFor="let item of portShips">
          <mat-checkbox [formControlName]="item" (change)="onChangeCheckbox()">
            {{ item }}
          </mat-checkbox>
        </div>

      </div> <!-- .checkbox-group -->
    </div> <!-- .checkbox__container -->

    <div class="type">
      <div class="type__title">
        Тип
      </div>
      <mat-radio-group
        formControlName="radio-type"
        class="type__radio-container"
      >
        <mat-radio-button class="type__button" *ngFor="let typeShip of typeShips" [value]="typeShip" (change)="onChangeRadio($event)">
          {{ typeShip }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

  </form>
</div> <!-- .filter -->
