@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgba(52, 124, 255, 1);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

input[type="text"] {
  display: block;
  width: 100%;
}

.input-group {
  position: relative;
}

.input-text {
  caret-color: var(--blue);
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 10px 5px 0;
  font-family: 'Roboto', sans-serif;
}

.input-text::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input-text-after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);;
  width: 100%;
  height: 1px;
  transition: background-color 0.2s linear;
}

.input-text:focus +.input-text-after {
  background-color: var(--blue);
}

.container {
  display: block;
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex_direction-column {
  flex-direction: column;
}



.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--blue);
}
