@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: block;
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex_direction-column {
  flex-direction: column;
}
